*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

nav{
    background: #EEEEEE;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #548CA8;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #334257;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    text-align: center;
    font-family: 'Quattrocento', serif;
    height: calc(100vh - 80px);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #548CA8;
    
    width: 100%;
}
.fondoindex{
    height: auto;
    width: 60%;
}
/*proyecto y equipo*/
.gridareaproyecto, .gridareaequipo{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
                        "img txt";
    width: 100%;
    
    height: calc(100vh - 80px);
    
    list-style:square;
    background: #548CA8;
    position: fixed;
}
.imgproyecto, .imgequipo{
    
    grid-area: img;
    padding: 10px 10px;
    width: 100%;
    height: 50vh;
    display: flex;
    box-sizing: content-box

}
.txtproyecto, .txtequipo{
    box-sizing: border-box;
    grid-area: txt;
    width: 100%;
    height: auto;
    padding: 10px 10px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Quattrocento', serif;
    
}
/*Especialidades*/
.gridareaesp{
    height: calc(100vh - 80px);
    width: 100%;
    box-sizing: border-box;
    background: #548CA8;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "head1 head2 head2"
    "esp1 esp2 esp3"
    "esp4 esp5 esp6";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.tituloesp{
    margin: 30px;
    grid-area: head2;
    color: antiquewhite;
    font-family: 'Quattrocento', serif;
    font-size: 4rem;
    height: auto;
    width: 80%;
}
.imgesp{
    grid-area: head1;
    align-items: flex-end;
    margin: 20px;
    height: auto;
    width: 80%;
}
.esp1{
    grid-area: esp1;
    font-size: 2rem;
    color: #EEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.esp2{
    grid-area: esp2;
    font-size: 2rem;
    color: #EEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.esp3{
    grid-area: esp3;
    font-size: 2rem;
    color: #EEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.esp4{
    grid-area: esp4;
    font-size: 2rem;
    color: #EEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.esp5{
    grid-area: esp5;
    font-size: 2rem;
    color: #EEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.esp6{
    grid-area: esp6;
    font-size: 2rem;
    color: #EEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/*contacto*/
.maincont{
    height: calc(100vh - 80px);
    width: 100%;
    display: grid;
    background: #548CA8;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "headc1 headc2 slide"
    "txtc1 txtc1 slide" 
    "footc1 footc1 slide";
    position: fixed;
    box-sizing: border-box;
    
}
.imgcont{
    grid-area: headc1;
    width: auto;
    height: auto;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    
}
.txtcont{
    
    grid-area: headc2;
    font-size: 4rem;
    display: flex;
    color:antiquewhite;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.turnos{
    grid-area: txtc1;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #EEEEEE;
    font-size: 1.5rem;
    box-sizing: border-box;
    
}
.slide{
    grid-area: slide;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    
}
.redes{
    grid-area: footc1;
    width: auto;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    
}
/*responsiveresponsiveresponsive       para movil*/
@media only screen and (max-width: 760px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#548CA8;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    body nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    body nav ul li a{
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #fff;
    }
    #check:checked ~ ul{
        left: 0;
    }
    
    /*proyecto y equipo*/
    .gridareaproyecto, .gridareaequipo{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "img"
        "txt";
    }
    .imgproyecto, .imgequipo{
        grid-area: img;
        height: auto;
        width: 100%;
        

    }
    .txtproyecto, .txtequipo{
        grid-area: txt;
        font-size: 1.5rem;
        display: flex;
        align-items: flex-start;
        text-align:justify;
    }
    /*especialidades*/
    .gridareaesp{
        grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas:
    "head1"
    "head2"
    "esp1"
    "esp2"
    "esp3"
    "esp4"
    "esp5"
    "esp6";

    }
    .tituloesp{
        margin: 20px;
        text-align: center;
        font-size: 3rem;
    }
    .esp1, .esp2, .esp3, .esp4, .esp5, .esp6{
        font-size: 1rem;
    }
    /*contacto*/
    .maincont{
        grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "headc1"
    "headc2"
    "txtc1" 
    "footc1";
    }
    .slide{
        display: none;
    }
    
}
/*responsive responsive para tablet*/
@media only screen and (min-width: 761px) and (max-width: 991px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    /*equipo*/
    .txtequipo{
        font-size: 1.5rem;
    }
    .imgequipo{
        height: 40%;
        width: auto;
    }
    /*especialidades*/
    .tituloesp{
        font-size: 2rem;
    
    }
    .esp1, .esp2, .esp3, .esp4, .esp5, .esp6{
        font-size:1.5rem;
    }

}
/*para escritorio*/
@media only screen and (min-width: 992px){
   /*contacto*/
   .slide{
       height: 100vh;
       width: 100%;
       
       display: flex;
       align-items: stretch;
       
   } 
}
